<footer>
    
    <div class="container">

        <div class="center-container">
            <h6 class="heading">Get every news first! Join our community</h6>

            <div class="icons-container">
                <a class="icon-button" *ngFor="let icon of scoialIcons" [href]="icon.link" target="_blank">
                    <fa-icon class="icons" [icon]="icon.icon"></fa-icon>
                </a>
            </div>

        </div>

        <hr>

        <div class="copy-right-section">
            
            <p class="copyright">Shardible &copy; All rights reserved</p>

            <div class="quick-menu">
                <a *ngFor="let links of quickLinks" [href]="links.link" target="_blank">{{ links.name }}</a>
            </div>

        </div>
    </div>

</footer>