<div class="container">

    <h6 class="heading mb-3">About Shardible</h6>

    <div class="row g-2">

        <div class="col-md-4" *ngFor="let i of [1, 2, 3]">
            <div class="shardible-card about-card">

                <img src="../../../assets/shardible/img/icon1.png" alt="no-icon" class="logo">

                <h6 class="heading-2">P2P Marketplace</h6>
    
                <p class="paragraph">
                    Shardible is a modern decentralized NFT marketplace where people can easily buy and sell any NFT
                    tokens. Our team implements all smart contracts with a passion for safety and a decentralization
                    spirit. All listings, bids and transfers occur on our unique smart contract on a chain so users can
                    be sure that their funds and NFTs are safe and secure.
                </p>
            </div>
        </div>
    
    </div>
</div>
