@import '/src/assets/shardible/styles/variables.scss';

.container {
    padding: 100px 20px 20px 20px;
    
    .about-card {
        height: 100% !important;
        padding: 15px;
    
        .logo {
            width: 60px;
            height: 60px;
            margin-left: -5px;
            margin-bottom: 10px;
        }
    
        .paragraph {
            font-size: 14px !important;
            font-weight: 300 !important;
            letter-spacing: 0.6px;
            line-height: 26px;
            margin-top: 15px;
        } 
    }

    .blob {
        background: #363657;
        border-radius: 50%;
        margin: 10px;
        height: 48px;
        width: 48px;
        box-shadow: 0 0 0 0 #232345;
        transform: scale(1);
        animation: pulse 2s ease-out infinite;
        position: relative;
        top: -10px;
        left: -12px;

        .icons {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $third-color;
            font-size: 22px;
        }
    }
    
    @keyframes pulse {
        0% {
            transform: scale(1);
            box-shadow: 0 0 0 0 #232345;
        }
    
        70% {
            transform: scale(1.02);
            box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
        }
    
        100% {
            transform: scale(1);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
    }
}

@media only screen and (max-width: 990px) { 
    .container {
        padding: 20px !important;
    }
}