<div class="thumbnail-card">
    
    <div class="thumbnail-img-container">
        <figure>
            <img src="../../../../assets/shardible/img/Rectangle 26.png" class="thumbnail" alt="no-preview-found">
        </figure>
    </div>

    <div class="thumbnail-content">

        <p class="paragraph">Krill</p> 

        <fa-icon  class="more-icon" [icon]="moreIcon"></fa-icon>

        <div class="thumbnail-horizontal">
            <img class="thumbnail" src="../../../../assets/shardible/img/Ellipse 6.png" alt="no-preview-found">
            <p class="thumbnail-txt paragraph-lighter">MAWC</p>
        </div>


        <div class="flex-box">
            <div class="left-colum">
                <p class="txt-title">Price</p>
                <p class="count">80 SHM</p>
            </div>

            <div class="right-colum">
                <p class="txt-title">Highest bid</p>
                <p class="count">7.59 wSHM</p>
            </div>
        </div>
        
    </div>


</div>
