@import '/src/assets/shardible/styles/variables.scss';


.thumbnail-card {
    padding: 7px !important;

    .thumbnail-content {
        position: relative;

        .paragraph {
            margin-bottom: 0;
            margin-top: 10px;
        }

        .more-icon {
            position: absolute;
            right: 8px;
            top: 0px;
            color: $third-color;
        }

        .thumbnail-horizontal {

            .thumbnail-txt {
                color: $text-color;
                font-weight: 200;
            }
        }

        .flex-box {
            display: flex;
            width: 100%;
            margin: 8px 8px 5px 0px;
            justify-content: space-between;

            .txt-title {
                color: $third-color;
                font-weight: 500;
                font-size: 13px;
                margin-bottom: 0px;
            }

            .count {
                margin: 0px !important;
                font-size: 14px;
                font-family: $font-family-medium;
            }
        }
    }


}