
<div class="container">
    <div class="left-column">
        <div class="layout-content">
            
            <div id="layout-bg" [ngStyle]="{'background-position-y': backgroundPosition + '%'}"></div>

            <h1 class="title">Experience a new world of NFTs with <span class="colored-text">Shardible</span></h1>
        
            <p class="paragraph">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, eius tenetur porro dignissimos fugiat accusantium modi corporis et totam, odio reprehenderit accusamus odit nostrum maxime! Delectus similique aperiam tenetur itaque.
            </p>

            <div id="layout-bg-2" [ngStyle]="{'background-position-y': backgroundPosition + '%'}"></div>

            <div class="join-container">
                <input type="text">
                <button class="join-btn">Join whitelist</button>
            </div>

        </div>
    </div>
    <div class="right-column">

        <div class="thumbnail-section">
            <div id="thumb-bg" [ngStyle]="{'background-position-y': backgroundPosition + '%'}"></div>
            <div class="thumbnail-card">
    
                <div class="thumbnail-img-container">
                    <figure>
                        <img src="../../assets/shardible/img/Rectangle 26.png" class="thumbnail" alt="no-preview-found">
                    </figure>
                </div>
        
                <div class="thumbnail-content">
                    <p class="paragraph-highlighted">Alternate pathways</p>
        
                    <div class="thumbnail-horizontal">
                        <img class="thumbnail" src="../../assets/shardible/img/Ellipse 6.png" alt="no-preview-found">
                        <p class="thumbnail-txt paragraph-lighter">Fiatbroke</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>