
<div class="container">
    <div class="left-column">
        <div class="layout-content">
            
            <div id="layout-bg" [ngStyle]="{'background-position-y': backgroundPosition + '%'}"></div>

            <h1 class="title"> {{ landingDetails.title  }}<span class="colored-text">{{ landingDetails.highlight  }}</span></h1>
        
            <p class="paragraph">
                {{ landingDetails.content  }}
            </p>

            
            <div id="layout-bg-2" [ngStyle]="{'background-position-y': backgroundPosition + '%'}"></div>

            <div class="join-container">
                <input type="text" [(ngModel)]="email" [style.paddingRight]="width + 'px'">
                <button class="join-btn" id="joinBtn" (click)="joinWhitelist()">Join whitelist</button>
            </div>


            <div class="people-counter" *ngIf="getPeoples() && getPeoples().length > 0">
                <div class="counter">
                    <h3 class="heading-2">People in our community</h3>
                    <p class="paragraph">
                        + {{ getPeoples().length }} people joined
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="right-column">

        <div class="thumbnail-section">
            <div id="thumb-bg" [ngStyle]="{'background-position-y': backgroundPosition + '%'}"></div>
            <div class="thumbnail-card">
    
                <div class="thumbnail-img-container">
                    <figure>
                        <img src="../../assets/shardible/img/Rectangle 26.png" class="thumbnail" alt="no-preview-found">
                    </figure>
                </div>
        
                <div class="thumbnail-content">
                    <p class="paragraph-highlighted">Alternate pathways</p>
        
                    <div class="thumbnail-horizontal">
                        <img class="thumbnail" src="../../assets/shardible/img/Ellipse 6.png" alt="no-preview-found">
                        <p class="thumbnail-txt paragraph-lighter">Fiatbroke</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>