<!-- <navbar></navbar> -->

<!-- <div class="layout"> -->

<!-- <header></header>

    <about></about> -->

<!-- <collections></collections>

    <roadmap></roadmap>

    <launch-roadmap></launch-roadmap>

    <partners></partners>

    <footer></footer> -->


<!-- </div> -->

<!-- <div class="footer" [ngStyle]="{bottom: contentHeight + 'px'}">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. In quidem eos quisquam nam et repellendus voluptatem voluptas numquam. Ea numquam laudantium est ab. Quidem officiis sequi obcaecati cum eum non!
    <shardible-footer></shardible-footer>
</div> -->


<shardible-header></shardible-header>

<main>
    
    <section id="#">
        <shardible-landing></shardible-landing>
    </section>
    
    <section id="collections" class="mb-5">
        <shardible-collections></shardible-collections>
    </section>

    <section id="about">
        <about></about>
    </section>

    <section id="feature">
        <shardible-features></shardible-features>
    </section>

    <section>
        <roadmap></roadmap>
    </section>

    <section>
        <launch-roadmap></launch-roadmap>
    </section>

</main>


<footer>
    <shardible-footer></shardible-footer>
</footer>


<!-- <header>
    <nav>
        <a routerLink="/">Home</a>
        <a routerLink="/about">About</a>
        <a routerLink="/contact">Contact</a>
    </nav>
</header> -->