<div class="container">
    <h6 class="heading mb-3">Product Roadmap</h6>

    <section class="timeline" *ngIf="roadmapList && roadmapList.length > 0">
        <ul>
            <li class="path" [ngClass]="{'active': isAchived(roads.time) }" *ngFor="let roads of roadmapList; let i = index">
                <div class="timeline-card">
                    <div class="timeline-info">
                        <h6 class="heading-2">{{ roads.name }}</h6>
                        <ol>
                            <li *ngFor="let points of roads.points">
                                {{ points }}
                            </li>
                        </ol>
                    </div>
                </div>
            </li>
        </ul>
    </section>

</div>