@import '/src/assets/shardible/styles/variables.scss';

.container {
    text-align: center;
    padding-top: 50px;

    .timeline ul {
        background: transparent;
        padding: 50px 0;
    }

    .timeline ul li {
        list-style-type: none;
        position: relative;
        width: 5px;
        margin: 0 auto;
        padding-top: 50px;
        background: $third-color;
    }

    .timeline ul li::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 30px;
        height: 30px;
        border-radius: 5px !important;
    }

    .timeline ul li .timeline-card {
        position: relative;
        bottom: 0;
        min-width: 400px;
        padding: 15px;
        background: $card-bg;
        text-align: left;
        border-radius: 5px;
        border: 1px solid $card-bg;
    }

    .timeline ul li .timeline-card::before {
        content: '';
        position: absolute;
        bottom: 7px;
        width: 0;
        height: 0;
        border-style: solid;
    }

    .timeline ul li:nth-child(odd) .timeline-card {
        left: 45px;
    }

    .timeline ul li:nth-child(odd) .timeline-card::before {
        left: -17px;
        border-width: 8px 16px 8px 0;
        border-color: transparent $card-bg transparent transparent;
    }

    .timeline ul li:nth-child(even) .timeline-card {
        left: -439px;
    }

    .timeline ul li:nth-child(even) .timeline-card::before {
        right: -17px;
        border-width: 8px 0 8px 16px;
        border-color: transparent transparent transparent $card-bg;
    }

    .timeline-info {
        position: relative;
        text-align: left;

        .heading-2 {
            font-size: 20px !important;
            letter-spacing: 1px;
        }

        ol {
            margin-left: -15px;
        }

        ol li {
            background-color: transparent !important;
            position: relative !important;
            left: 0;
            width: 100%;
            padding-top: 10px;
            margin: 0;
            list-style: circle;
            font-size: 16px;
            font-family: $font-family-normal;

            &::before {
                background: transparent !important;
                width: 0;
                height: 0;
            }

            &::after {
                background: transparent !important;
                width: 0;
                height: 0;
            }
        }

    }
}

.active {
    background-color: $secondary-color !important;

    .timeline-card {
        border: 1px solid $third-color !important;
    }
}

.in-view {
    transition: all 2s ease-in-out;
}

.timeline ul li::after {
    background: $third-color;
    transition: background 2.2s ease-in-out;
}

.timeline ul li.in-view::before {
    background: $third-color !important;
}

.timeline ul li.active.in-view::after {
    background: $secondary-color !important;
}

.timeline ul li .timeline-card {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) .timeline-card {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) .timeline-card {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view .timeline-card {
    transform: none;
    visibility: visible;
    opacity: 1;
}

@media only screen and (max-width: 950px) {

    .container {
        padding: 20px !important;
        position: relative !important;

        .timeline ul {
            padding: 0px !important;
        }
    
        .timeline ul li {
            padding-top: 20px !important;
            margin: 0 0 !important;
        }

        .timeline ul li:nth-child(odd) .timeline-card {
            left: 35px !important;
        }

        .timeline ul li:nth-child(even) .timeline-card {
            left: 35px !important;
        }

        .timeline ul li:nth-child(even) .timeline-card {
            transform: translate3d(0, 0, 0) !important;
        }

        .timeline ul li:nth-child(even) .timeline-card::before {
            left: -17px !important;
            border-width: 8px 16px 8px 0 !important;
            border-color: transparent $card-bg transparent transparent !important;
        }
    }
      
}

@media only screen and (max-width: 600px) { 
    .timeline ul li .timeline-card {
        min-width: calc(100vw - 90px) !important;
    }
}