<div class="container">

    <h6 class="heading mb-5">Features</h6>

    <div class="circle">

        <div class="menu">
            <input type="checkbox" id="toggle" checked />
            <label id="show-menu" for="toggle">
                <div class="btn icon-btn">
                    <i class="toggleBtn menuBtn">
                        <img src="../../../assets/shardible/img/3dlogo.png" alt="logo">
                    </i>
                    <i class="toggleBtn closeBtn">
                        <img src="../../../assets/shardible/img/3dlogo.png" alt="logo">
                    </i>
                </div>
                <div class="btn">
                    Stats & Analytics
                </div>
                <div class="btn">
                    Mint/List NFTs
                </div>
                <div class="btn">
                    Buy/Sell NFTs
                </div>
                <div class="btn">
                    Borrowing/ Lending
                </div>
                <div class="btn">
                    SDKs/APIs
                </div>
                <div class="btn">
                    Custom NFT Store
                </div>
                <div class="btn">
                    NFT Staking
                </div>
                <div class="btn">
                    NFT Auction
                </div>
            </label>
        </div>


        <div class="pulse">
        </div>

    </div>


    <div class="features-mobile-list">

        <div class="feature-list">
            <div class="blob">
                <img src="../../../assets/shardible/img/3dlogo.png" alt="logo" class="logo">
            </div>
            <div class="feature-name">Start & Analytics</div>
        </div>

        <div class="feature-list">
            <div class="blob">
                <img src="../../../assets/shardible/img/3dlogo.png" alt="logo" class="logo">
            </div>
            <div class="feature-name">Mint/List NFTs</div>
        </div>

        <div class="feature-list">
            <div class="blob">
                <img src="../../../assets/shardible/img/3dlogo.png" alt="logo" class="logo">
            </div>
            <div class="feature-name">Buy/Sell NFTs</div>
        </div>


        <div class="feature-list">
            <div class="blob">
                <img src="../../../assets/shardible/img/3dlogo.png" alt="logo" class="logo">
            </div>
            <div class="feature-name">Borrowing/Lending</div>
        </div>

        <div class="feature-list">
            <div class="blob">
                <img src="../../../assets/shardible/img/3dlogo.png" alt="logo" class="logo">
            </div>
            <div class="feature-name">SDKs/APIs</div>
        </div>

        <div class="feature-list">
            <div class="blob">
                <img src="../../../assets/shardible/img/3dlogo.png" alt="logo" class="logo">
            </div>
            <div class="feature-name">Custom NFT Store</div>
        </div>

        <div class="feature-list">
            <div class="blob">
                <img src="../../../assets/shardible/img/3dlogo.png" alt="logo" class="logo">
            </div>
            <div class="feature-name">NFT Staking</div>
        </div>

        <div class="feature-list">
            <div class="blob">
                <img src="../../../assets/shardible/img/3dlogo.png" alt="logo" class="logo">
            </div>
            <div class="feature-name">NFT Auction</div>
        </div>

    </div>

</div>