<div class="container">
    <h6 class="heading mb-3">Features</h6>

    <div class="circle">
        <div class='circle-container'>
            <a href='#' class='center'>
                <img src='../../../assets/shardible/img/logo.png' alt="log">
            </a>
            <a href='#' class='deg270'>
                <button class="outline-btn">Stats & Analytics</button>
            </a>
            <a href='#' class='deg315'>
                <button class="outline-btn">Mint/List NFTs</button>
            </a>
            <a href='#' class='deg360'>
                <button class="outline-btn">Buy/Sell NFTs</button>
            </a>
            <a href='#' class='deg45'>
                <button class="outline-btn">Borrowing/ Lending</button>
            </a>
            <a href='#' class='deg90'>
                <button class="outline-btn">SDKs/APIs</button>
            </a>
            <a href='#' class='deg135'>
                <button class="outline-btn">Custom NFT Store</button>
            </a>
            <a href='#' class='deg180'>
                <button class="outline-btn">NFT Staking</button>
            </a>
            <a href='#' class='deg225'>
                <button class="outline-btn">NFT Auction</button>
            </a>
        </div>
    </div>

</div>