<div class="container">
    <h6 class="heading mb-3">Features</h6>

    <div class="circle">

        <!-- <div class='circle-container'>
            <a href='#' class='center'>
                <img src='../../../assets/shardible/img/logo.png' alt="log">
            </a>
            <a href='#' class='deg270'>
                <button class="outline-btn">Stats & Analytics</button>
            </a>
            <a href='#' class='deg315'>
                <button class="outline-btn">Mint/List NFTs</button>
            </a>
            <a href='#' class='deg360'>
                <button class="outline-btn">Buy/Sell NFTs</button>
            </a>
            <a href='#' class='deg45'>
                <button class="outline-btn">Borrowing/ Lending</button>
            </a>
            <a href='#' class='deg90'>
                <button class="outline-btn">SDKs/APIs</button>
            </a>
            <a href='#' class='deg135'>
                <button class="outline-btn">Custom NFT Store</button>
            </a>
            <a href='#' class='deg180'>
                <button class="outline-btn">NFT Staking</button>
            </a>
            <a href='#' class='deg225'>
                <button class="outline-btn">NFT Auction</button>
            </a>
        </div> -->

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div class="menu">
  <input type="checkbox" id="toggle" checked/>
  <label id="show-menu" for="toggle">
    <div class="btn icon-btn">
      <i class="material-icons md-36 toggleBtn menuBtn">
        <img src='../../../assets/shardible/img/logo.png' alt="log">
      </i>
      <i class="material-icons md-36 toggleBtn closeBtn">
        <img src='../../../assets/shardible/img/logo.png' alt="log">
      </i>
    </div>
    <div class="btn">
        Stats & Analytics
    </div>
    <div class="btn">
        Mint/List NFTs
    </div>
    <div class="btn">
        Buy/Sell NFTs
    </div>
    <div class="btn">
        Borrowing/ Lending
    </div>
    <div class="btn">
        SDKs/APIs
    </div>
    <div class="btn">
        Custom NFT Store
    </div>
    <div class="btn">
        NFT Staking
    </div>
    <div class="btn">
        NFT Auction
    </div>
  </label>
</div>


        <div class="pulse">
        </div>

    </div>

</div>